* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --aside-width: 30%;
  --main-width: calc(100% - var(--aside-width));
  --border: solid 1px #0eb8b5;
}

body {
  background-color: #0eb8b5;
  color: white;
  font-size: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.cv,
header,
aside,
main,
footer {
  padding: 20px;
}

a {
  color: #b6fdfc;
  text-decoration: none;
  border-bottom: 0px solid #b6fdfc;
}

a:hover {
  border-bottom: 1px solid #b6fdfc;
}

.cv {
  display: grid;
  grid-template-columns: var(--aside-width) var(--main-width);
  margin: 30px auto;
  align-items: center;
  max-width: 1600px;
  border-radius: 50px;
  background: linear-gradient(145deg, #07605f, #097270);
  box-shadow: 20px 20px 60px #075b59, -20px -20px 60px #097b79;
}

header {
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--border);
}

header h1 {
  font-size: 9.5em;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

header img {
  width: 20%;
  border-radius: 55% 45% 43% 57% / 59% 57% 43% 41%;
}

section {
  margin: 6em 2em;
  font-size: 2em;
  line-height: 1.5em;
}

section h2 {
  font-size: 2.5em;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 0.8em;
}

section h3 {
  font-size: 1.7em;
  font-weight: 500;
}

section ul {
  list-style: none;
}

section span {
  font-weight: 500;
}

aside {
  border-right: var(--border);
}

aside .contact i {
  margin-right: 0.3em;
}

aside .skills ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  gap: 0.3em;
}

aside .skills li {
  display: inline-block;
  padding: 0.2em 0.4em;
  border: 1px solid white;
  border-radius: 0.5em;
  font-weight: 500;
}

main .projects .project h3 {
  margin: 2em 0 0.5em 0;
  text-decoration: underline;
}

footer {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(3, 1fr);
  border-top: var(--border);
  font-size: 2em;
}
